html, body {
  height: 100%;
  width: 100%;
  background-color: #cebf12;
}
table,td{
  border-style: solid;
}

#quote {
  height: 100%;
  width: 100%;
  font-size: 20;
  background-color: #000000;
  color: #001475;
  overflow: hidden;
  padding: 1 0;
  border-bottom: 1 solid transparent;
  border-top: 1 solid transparent;
  
}
#ground
{
  background-color: #000000;
  color: white;
}